body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto";
  background-color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation-link > ul {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 12px;
}

.button-link {
  background-color: #fede3e;
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  font-size: 16px;
  color: black;
}

#navigation-responsive {
  display: none;
}

#hamburger-menu {
  display: none;
}

#main-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#convert-section {
  width: 60%;
}

#title-converter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

#title-from {
  width: 57%;
}

#title-result {
  width: 37%;
}

#converter-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#converter-input p {
  width: 6%;
  text-align: center;
}

#input-from {
  width: calc(57% - 36px);
  background-color: white;
  outline: none;
  border: 1px solid #eaeaea;
  padding: 14px 18px;
  border-radius: 4px;
}

#input-result {
  width: calc(37% - 36px);
  background-color: white;
  outline: none;
  border: 1px solid #eaeaea;
  padding: 14px 18px;
  border-radius: 4px;
}

#button-convert {
  width: 150px;
  margin-top: 10px;
  background-color: #fede3e;
  border: none;
  padding: 12px 0;
  border-radius: 4px;
  cursor: pointer;
}

#converter-formula {
  resize: none;
  margin-top: 16px;
  width: calc(100% - 36px);
  height: 120px;
  padding: 12px 18px;
  font-size: 20px;
}

#history-section {
  width: 40%;
}

/* Responsive Mobile */
@media only screen and (max-width: 600px) {
  body {
    padding: 0px 12px;
  }

  header {
    position: relative;
    height: 60px;
  }

  #logo {
    font-size: 20px;
  }

  #navigation-link {
    display: none;
  }

  #hamburger-menu {
    display: block;
    background-color: #fede3e;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  #hamburger-menu > i {
    font-size: 18px;
  }

  #navigation-responsive {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    z-index: 50;
  }

  .active-menu {
    display: block !important;
    background-color: white;
  }

  #navigation-responsive > ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .nav-link {
    color: black;
  }

  #main-content {
    display: flex;
    flex-direction: column;
  }

  #convert-section {
    width: 100%;
  }

  #history-section {
    width: 100%;
    background-color: red;
  }
}
